<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml"></html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title><%= page_title_tag %></title>
  <%= stylesheet_link_tag "global", "management", "modal" %>
  <%= javascript_include_tag "prototype", "admin" %>
  <%= calendar_date_select_includes %>
  <%= javascript_include_tag :defaults %>

</head>
<body>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>