<h1>Listing article_comments</h1>

<table class="table">
  <tr>
    <th>Content</th>
    <th>Ipaddr</th>
    <th>User</th>
    <th>Article</th>
    <th>操作</th>
  </tr>

<% @article_comments.each do |article_comments| %>
  <tr>
    <td><%=h article_comments.content %></td>
    <td><%=h article_comments.ipaddr %></td>
    <td><%=h article_comments.user %></td>
    <td><%=h article_comments.article %></td>
    <td><%= link_to 'Show', article_comments %></td>
    <td><%= link_to 'Edit', edit_article_comments_path(article_comments) %></td>
    <td><%= link_to 'Destroy', article_comments, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @article_comments  %>
<br />

<%= link_to 'New article_comments', new_article_comments_path %>