

<div id="footer">
  <div class="content-nav"><a href="/"><img src="/images/content-nav_footer_01.gif" alt="" width="82" height="20" /></a></div>
  <div class="guide-nav">
    <ul>
      <li><%= link_to t("home"),root_path %></li>
      <li><%= link_to t("ranking"),ranking_products_path  %></li>
      <li><%= link_to t("bath_lotion"),category_path(1) %></li>
      <li><%= link_to t("rotor"),category_path(2) %></li>
      <li><%= link_to t("vibration"), category_path(3) %></li>
      <li><%= link_to t("massage"), category_path(4)  %></li>
      <li><%= link_to t("men"), category_path(5)  %></li>
      <li><%= link_to t("other"), category_path(6)  %></li>
    </ul>
    <!-- /div.guide-nav -->
  </div>
  <div class="copyright">Copyright:(C) Love Chic. All Rights Reserved.</div>
  <!-- /div#footer -->
</div>
