<div id="sub-content">
<div class="block about">
<h3><img src="images/heading_about.gif" alt="Love Chic" width="158" height="26" /></h3>
<p>女性のためのラブグッツ販売サイトです。<br />
日本製の良質で肌に優しい素材のものを選び、安心して利用できるものをセレクト。ピックアップしています。<br />
口コミや掲示板からの情報ページも充実しています。</p>
<p>心の扉を開きたい女性の為に！女性のキレイを応援しています。<br />
（検索キーワード）</p>
<!-- /div.block -->
</div>
<div class="block contents">
<h3 class="block-title"><%= t("content") %></h3>
<ul>
        <li><%= link_to t("ranking"), ranking_products_path %></li>
        <li><%= link_to t("blog"),"/tops/#blog"%></li>
        <li><%= link_to t("experience") ,"/articles" %></li>
</ul>
<!-- /div.block -->
</div>
<div class="block information">
<h3 class="block-title"><%= t("message") %></h3>
<ul>
         <li><%= link_to t("use"),"/company/guide" %></li>
        <li><%= link_to t("questions"),"/company/guide/#problem" %></li>
        <li><%= link_to t("about_us"),"/company/about_us" %></li>
        <li><%= link_to t("privacy_policy") ,"/company/pricacy_policy"%></li>
        <li><%= link_to t("contact"), new_contact_path %></li>
        <li><%= link_to t("present"), "/company/present" %></li>
</ul>
<!-- /div.block -->
</div>
<div class="content-link"><a href="#"><img src="images/content-link_01.jpg" alt="" width="180" height="115" /></a></div>
<div class="content-link"><a href="#"><img src="images/content-link_02.gif" alt="" width="180" height="60" /></a></div>
<div class="content-link"><a href="#"><img src="images/content-link_02.gif" alt="" width="180" height="60" /></a></div>
<!-- /div#sub-content -->
</div>
