<h1>Listing order_lines</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Product</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Remarks</th>
  </tr>

<% @order_lines.each do |order_lines| %>
  <tr>
    <td><%=h order_lines.order_id %></td>
    <td><%=h order_lines.product_id %></td>
    <td><%=h order_lines.name %></td>
    <td><%=h order_lines.quantity %></td>
    <td><%=h order_lines.price %></td>
    <td><%=h order_lines.remarks %></td>
    <td><%= link_to 'Show', order_lines %></td>
    <td><%= link_to 'Edit', edit_order_lines_path(order_lines) %></td>
    <td><%= link_to 'Destroy', order_lines, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order_lines', new_order_lines_path %>