<p>
  <b>Serial:</b>
  <%=h @contact.serial %>
</p>

<p>
  <b>Phone:</b>
  <%=h @contact.phone %>
</p>

<p>
  <b>Name:</b>
  <%=h @contact.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @contact.email %>
</p>

<p>
  <b>Qq:</b>
  <%=h @contact.qq %>
</p>

<p>
  <b>Content:</b>
  <%=h @contact.content %>
</p>

<p>
  <b>Reply:</b>
  <%=h @contact.reply %>
</p>

<p>
  <b>Ipaddr:</b>
  <%=h @contact.ipaddr %>
</p>

<p>
  <b>User:</b>
  <%=h @contact.user_id %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>