
<% content_for :head do %>
  <%= stylesheet_link_tag '/stylesheets/common' ,'/stylesheets/A' ,"/stylesheets/A_002" ,
    "/stylesheets/shoplist_roll" ,'/stylesheets/shop_search_simple' ,'/stylesheets/shopquery_diy' %>
  <%= stylesheet_link_tag '/stylesheets/nav' ,'/stylesheets/shopquery_diy' ,'/stylesheets/shoptwoclass_diy' %>

  <%= javascript_include_tag "/javascripts/base" , '/javascripts/common' , '/javascripts/form' ,
    '/javascripts/blockui' ,'/javascripts/shoplist_roll'%>

<% end %>
<div id="content" style="width: 1002px; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 0px auto;">


  <!-- 商品二级分类 -->


  <%= render :partial => "/products/left_banner" %>

  <!-- 页内图片广告 -->
  <%= render :partial => "/products/adv" %>

  <!-- 空白边框 -->

  <div id="pdv_5804" class="pdv_class" title="" style="width: 210px; height: 250px; top: 315px; left: 0px; z-index: 11;">
    <div id="spdv_5804" class="pdv_content" style="overflow: hidden; width: 100%; height: 100%;">
      <div class="pdv_border" style="margin: 0pt; padding: 0pt; height: 248px; border: 1px solid rgb(223, 223, 223);">
        <div style="height: 25px; margin: 1px; display: none;">
          <div style="float: left; margin-left: 12px; line-height: 25px; font-weight: bold;">

          </div>
          <div style="float: right; margin-right: 10px; display: none;">
            <a href="http:///" style="line-height: 25px;">更多</a>
          </div>

        </div>
        <div style="padding: 0px;">
          &nbsp;
        </div>
      </div>

    </div>
  </div>

  <!-- 当前位置提示条 -->

  <div id="pdv_5811" class="pdv_class" title="当前位置" style="width: 760px; height: 30px; top: 0px; left: 242px; z-index: 12;">
    <div id="spdv_5811" class="pdv_content" style="overflow: hidden; width: 100%; height: 100%;">
      <div class="pdv_border" style="border: 0px none; height: 30px; padding: 0pt; margin: 0pt; background: url(/images/nav-border-title.jpg) no-repeat scroll 0px 0px transparent;">
        <div style="float: right; height: 100%; width: 80px; background: url(/images/nav-border-title.jpg) no-repeat scroll -920px 0px transparent;"></div>

        <div id="nav">
          您现在的位置：<a href="/">首页</a>

          &gt; <a href="/products">商品列表</a>

        </div>

      </div>

    </div>
  </div>

  <!-- 商品检索搜索 -->

  <div id="pdv_5812" class="pdv_class" title="" style="width: 760px; height: 653px; top: 50px; left: 242px; z-index: 13;">
    <div id="spdv_5812" class="pdv_content" style="overflow: visible; width: 100%;">
      <div class="pdv_border" style="margin: 0pt; padding: 0pt; height: 100%; border: 0px solid;">
        <div style="height: 25px; margin: 1px; display: none;">
          <div style="float: left; margin-left: 12px; line-height: 25px; font-weight: bold;">

          </div>
          <div style="float: right; margin-right: 10px; display: none;">
            <a href="http://jadejade.cn/1284882468/shop/class/-1" style="line-height: 25px;">更多</a>
          </div>

        </div>
        <div style="padding: 0px;">
          <div class="shopquery_cap">
            <div class="shopquery_cap_left"></div>
            <div class="shopquery_cap_right"></div>
            <div class="shopquery_paixu">
            </div>
            <div class="showquery_showmethod">
	显示方式:
            </div>
            <div id="showquery_showmethod_cc" class="showquery_showmethod_cc_now" title="橱窗"></div>
            <div id="showquery_showmethod_lb" class="showquery_showmethod_lb" title="列表"></div>
            <div id="showquery_showmethod_tu" class="showquery_showmethod_tu" title="图片"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="showquery_showmethod_tu" style="width:80px; background:none" title="图片">
              <%= sort_link @search, :price  , :text => '按价格排序' %>
            </div>
            <div class="showquery_showmethod_tu" style="width:80px; background:none" title="图片">
              <%= sort_link @search, :created_at  , :text => '按时间排序' %>
            </div>
          </div>
          <%= render :partial => "search" %>

          <div class="shopquery_out">

            <% @products.each  do |product| %>

              <div class="shopquery">
                <div class="fang" style="width: 168px; height: 168px;">
                  <div class="picFit" style="width: 168px; height: 168px;">
                    <%= link_to image_tag(product.first_list_image ,:style => 'border:0;  vertical-align: middle;' ,:alt =>product.name) ,product_path(product) ,:style => 'width: 168px; height: 168px;
                   font:140px/1 Arial ;display: block;text-align: center;  vertical-align: middle;' %>

                  </div>
                  <div></div>
                </div>
                <div class="prop">
                  价格：<span class="hb">￥</span><span class="price"><%= product.price %></span><br>

                </div>
                <%= link_to product.name ,product_path(product) ,:class => 'prodtitle' %>

                <div class="memo">
                  <%= product.try(:sort).try(:name) %>
                  <%= product.try(:color).try(:name) %>
                </div>
              </div>
            <% end %>



          </div>



          <div id="showpages">
            <%#= will_paginate @products   %>
            <br clear="all" />
            <br />
          </div>


        </div>

      </div>

    </div>
  </div>
      <p style="clear:both">&nbsp;</p>
</div>


<script type="text/javascript">
  $(function() {
    //$().picFit("auto");
  });
</script>