<div id="sub"><!-- サブメニュー -->
  <div id="menu" class="clearfix"><!-- g_menu -->
    <p><a href="JavaScript:onClick=Tree('display1');ImgC('img1');"><img src="/images/admin/menu_icon_on.gif" width="36" height="36" alt="" id="img1" /><span><%= t("h2.administrators") %></span></a></p>
    <ul id="display1" style="display:block">
      <li><%= link_to  t('h2.administrators')   , admin_administrators_path %></li>
    </ul>
    <p><a href="JavaScript:onClick=Tree('display1');ImgC('img1');"><img src="/images/admin/menu_icon_on.gif" width="36" height="36" alt="" id="img1" /><span><%= t("h2.management") %></span></a></p>
    <ul id="display1" style="display:block">

      <li><%= link_to  t('h2.colors') , admin_colors_path %></li>
      <li><%= link_to  t('h2.sorts') , admin_sorts_path %></li>
      <li><%= link_to  t('h2.products') , admin_products_path %></li>
    </ul>
    
    <p><a href="JavaScript:onClick=Tree('display2');ImgC('img1');"><img src="/images/admin/menu_icon_on.gif" width="36" height="36" alt="" id="img1" /><span><%= t("h2.management2") %></span></a></p>
    <ul id="display2" style="display:block">

      <li><%= link_to  t('h2.articles') , admin_articles_path %></li>
      <li><%= link_to  t('h2.categories') , admin_categories_path %></li>
    </ul>
  </div><!-- /g_menu -->
</div><!-- /sサブメニュー -->

