<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title><%= @title %> | 翡翠品牌专卖店</title>
  <%= stylesheet_link_tag '/stylesheets/common' ,'/stylesheets/A' ,
    "/stylesheets/A_002",'/stylesheets/nav' ,'/stylesheets/shop_search_simple'  %>
  <%= javascript_include_tag "/javascripts/base" , '/javascripts/common' ,
    '/javascripts/form' ,'/javascripts/blockui' ,'/javascripts/shoplist_roll'%>
  <%= yield :head  %>
<!---reload-!-->
<style media="screen" type="text/css">#swfContent {visibility:hidden}</style></head>
  <body style="background: url(/images/body_bg.png) repeat-x scroll center top transparent;">
<script>
var PDV_PAGEID='1';
var PDV_RP='';
var PDV_COLTYPE='index';
var PDV_PAGENAME='index';
</script>


<div id="contain" style="width: 1002px; background: none repeat scroll 0% 0% transparent; margin: 0px auto; padding: 0px;">

<div id="top" style="width: 1002px; height: 130px; background: none repeat scroll 0% 0% transparent;">


<!-- 图片/FLASH -->
<div style=" height: 20px; top: 77px; left: 229px; z-index: 2;" title="" class="pdv_class" id="pdv_5627">
<div style="overflow: hidden; width: 100%; height: 100%;" class="pdv_top" id="spdv_5627">
<div style="margin: 0pt; padding: 0pt; height: 13px; border: 0px solid;" class="pdv_border">
	<div style="height: 25px; margin: 1px; display: none;">
		<div style="float: left; margin-left: 12px; line-height: 25px; font-weight: bold;">

		</div>
		<div style="float: right; margin-right: 10px; display: none;">
		<a style="line-height: 25px;" href="http://haofeicui.com">更多</a>
		</div>
	</div>
<div style="padding: 0px;color:red;">
<!--<img  border="0" src="/images/1283922608.jpg">
-->销售热线：15288319095  客服电话:0871-8043568 客服QQ：601259096 客服QQ：1417010580

</div>
</div>

</div>
</div>
 

<!-- 网站标志 -->

<div id="pdv_3563" class="pdv_class" title="网站标志" style="width: 249px; height: 63px; top: 0px; left: 0px; z-index: 4;">
<div id="spdv_3563" class="pdv_top" style="overflow: hidden; width: 100%; height: 100%;">
<div class="pdv_border" style="margin: 0pt; padding: 0pt; height: 63px; border: 0px solid rgb(221, 221, 221); background: none repeat scroll 0% 0% ;">
	<div style="height: 25px; margin: 1px; display: none; background: none repeat scroll 0% 0% rgb(204, 204, 204);">
		<div style="float: left; margin-left: 12px; line-height: 25px; font-weight: bold; color: rgb(255, 255, 255);">
		网站标志
		</div>
		<div style="float: right; margin-right: 10px; display: none;">
		<a href="http://jadejade.cn/" style="line-height: 25px; color: rgb(255, 255, 255);">更多</a>
		</div>
	</div>
<div style="padding: 0px;">


<img src="/images/logo.png" border="0" width="100%"/>


</div>
</div>

</div>
</div>

<!-- 一级导航菜单 -->

<div id="pdv_3912" class="pdv_class" style="width: 665px; height: 58px; top: 2px; left: 334px; z-index: 6;">
<div id="spdv_3912" class="pdv_top" style="overflow: hidden; width: 100%; height: 100%;">
<div class="pdv_border" style="margin: 0pt; padding: 0pt; height: 58px; border: 0px solid;">
	<div style="height: 25px; margin: 1px; display: none;">
		<div style="float: left; margin-left: 12px; line-height: 25px; font-weight: bold;">
		导航菜单
		</div>
		<div style="float: right; margin-right: 10px; display: none;">
		<a href="http://jadejade.cn" style="line-height: 25px;">更多</a>
		</div>
	</div>
<div style="padding: 0px;">

<div id="menumain_dolphin">
<div class="menuright"></div>
<div class="mainmenuiner">
<a href="/" target="_self" class="menumain_dolphin">首页</a>
<a href="/home/aboutus" target="_self" class="menumain_dolphin">简介</a>
<a href="/products" target="_self" class="menumain_dolphin">商品查询</a>
<a href="/news" target="_self" class="menumain_dolphin">新闻动态</a>
<a href="/home/aboutus" target="_self" class="menumain_dolphin">联系我们</a>
<a href="/contacts" target="_self" class="menumain_dolphin">咨询</a>
</div>
</div>

</div>
</div>

</div>
</div>

</div>
  <br />
  <br />

  <%= yield  %>
  <p style="clear:both"></p>
<div id="bottom" style="width: 1002px; height: 145px; background: none repeat scroll 0% 0% rgb(255, 255, 255);">


<!-- 图片/FLASH -->

<div id="pdv_3922" class="pdv_class" title="" style="width: 1002px; height: 76px; top: 27px; left: 0px; z-index: 2;">
<div id="spdv_3922" class="pdv_bottom" style="overflow: hidden; width: 100%; height: 100%;">
<div class="pdv_border" style="margin: 0pt; padding: 0pt; height: 76px; border: 0px solid;">
	<div style="height: 25px; margin: 1px; display: none;">
		<div style="float: left; margin-left: 12px; line-height: 25px; font-weight: bold;">

		</div>
		<div style="float: right; margin-right: 10px; display: none;">
		<a href="http://jadejade.cn" style="line-height: 25px;">更多</a>
		</div>
	</div>
<div style="padding: 0px;">


<img src="/images/1284018237.jpg" border="0" width="100%" />

</div>
</div>

</div>
</div>

<!-- 底部菜单（一级） -->

<div id="pdv_3751" class="pdv_class" style="width: 1002px; height: 51px; top: 45px; left: 0px; z-index: 5;">
<div id="spdv_3751" class="pdv_bottom" style="overflow: hidden; width: 100%; height: 100%;">
<div class="pdv_border" style="margin: 0pt; padding: 0pt; height: 51px; border: 0px solid;">
 
<div style="padding: 0px;">

<div id="bottommenu">|

<a href="/home/aboutus" target="_self">关于我们</a>|

<a href="/home/buy" target="_self">购物指南</a>|


<a href="/home/question" target="_self">常见问题</a>|

<a href="/home/aboutus" target="_self">联系我们</a>|

<a href="/contacts/new" target="_self">咨询</a>|

</div>


</div>
</div>

</div>
</div>

<!-- 底部信息编辑区 -->

<div id="pdv_3798" class="pdv_class" title="脚注信息" style="width: 1002px; height: 40px; top: 105px; left: 0px; z-index: 7;">
<div id="spdv_3798" class="pdv_bottom" style="overflow: hidden; width: 100%; height: 100%;">
<div class="pdv_border" style="margin: 0pt; padding: 0pt; height: 40px; border: 0px solid;">
<div style="padding: 0px;">
<div style="width: 100%; text-align: center; font: 12px/20px Arial,Helvetica,sans-serif;">
<div style="margin: 0px; color: rgb(130, 130, 131); line-height: 24px; font-family: Verdana,Arial,Helvetica,sans-serif; text-align: center;">版权所有 Copyright(C)2008-2012 翡翠品牌专卖店</div>
</div>

</div>
</div>

</div>
</div>
</div>

  <p style="clear:both"> &nbsp;</p>
</div>
  
</body></html>